<!DOCTYPE html>
    <html>
    <head>
        <title>Clientes</title>
    </head>
    <body>
        <h1>Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente[0] }}</td>
                    <td>{{ cliente[1] }}</td>
                    <td>{{ cliente[2] }}</td>
                    <td>{{ cliente[3] }}</td>
                    <td>{{ cliente[4] }}</td>
                    <td>
                        <a href="/editar_cliente/{{ cliente[0] }}">Editar</a> |
                        <a href="/eliminar_cliente/{{ cliente[0] }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/agregar_cliente">Agregar Cliente</a>
    </body>
    </html>