<!DOCTYPE html>
    <html>
    <head>
        <title>Registro de Vendedor</title>
    </head>
    <body>
        <h1>Registro de Vendedor</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.nombre.label }} {{ form.nombre() }}<br>
            {{ form.apellido.label }} {{ form.apellido() }}<br>
            {{ form.correo.label }} {{ form.correo() }}<br>
            {{ form.contrasena.label }} {{ form.contrasena() }}<br>
            {{ form.local_id.label }} {{ form.local_id() }}<br>
            {{ form.submit() }}
        </form>
        <a href="{{ url_for('dashboard') }}">Volver al Dashboard</a>
    </body>
    </html>